{% block footer %}
    <footer>

        <div>{{ getGlobVars("email") }} : <a target="_blank" href="mailto:alexis.bassignot25@gmail.com">alexis.bassignot25@gmail.com</a></div>
        <div>{{ getGlobVars("phone") }} : +33 6 41 52 88 20</div>
        <div>{{ getGlobVars("github") }} : <a target="_blank" href="https://github.com/SNEAXIII">SNEAXIII</a></div>
    </footer>
{% endblock %}