{% block header %}
    <header class="flexbox">
        <a href="{{ path('app_acceuil') }}" id="nom_prenom">Alexis Bassignot</a>
        {% include 'partials/_navBar.html.twig' %}
    </header>
{% endblock %}