footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer span {
    color: #333;
}

@media screen and (max-width: 900px) {

    footer {
        flex-direction: column;
    }
    footer span {
        padding: 8px 0;
    }
}